[Desktop Entry]
Version=1.0
Type=Application
Name=LyX Document Processor (2.3unstable)
GenericName=Document Processor
Comment=High-level LaTeX frontend
Exec=lyx-unstable %F
TryExec=lyx-unstable
Icon=lyx-unstable
StartupNotify=false
StartupWMClass=Lyx
Terminal=false
Categories=Office;WordProcessor;Qt;
MimeType=text/x-lyx;application/x-lyx;
